html{
    line-height:1.15;
    -webkit-text-size-adjust:100%
}
a{
    background-color:transparent
}
b,strong{
    font-weight:bolder
}
.strike-through{
    text-decoration:line-through
}
html{
    box-sizing:border-box
}
*,:after,:before{
    box-sizing:inherit;
    text-rendering:optimizeLegibility;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-kerning:auto;
    font-kerning:auto
}
body{
    padding:0;
    margin:0;
    background-color:#f2f2f2;
    overflow-x:hidden;
    transition:background-color .5s
}
.curtain{
    opacity:0;
    pointer-events:none;
    transition:opacity .5s,background-color .5s
}
.overflowHidden,body.loading{
    overflow:hidden
}
body.loading .curtain{
    opacity:1;
    transition-delay:.5s
}
.barba-container{
    transition:opacity .5s
}
button.link{
    display:inline-block;
    position:relative;
    font:inherit
}
.btn-back,.btn-page-back,button.link{
    background-color:transparent;
    cursor:pointer;
    border:0;
    padding:0;
    outline:none
}
.btn-back,.btn-page-back{
    display:none;
    position:fixed;
    top:5vh;
    right:60px;
    z-index:1;
    margin:0;
    overflow:hidden;
    text-transform:none;
    transform:translateX(120px);
    transition:transform 1s cubic-bezier(.23,1,.32,1)
}

body.ultra-mode{
    background-color:#4801ff
}
/*點擊後邊線*/
@supports (-webkit-text-stroke:3px #151515) or (text-stroke:3px #151515){
    body.ultra-mode.home-page.outro .projectsLi.isSelected .projectContainer a,body.ultra-mode.home-page.outro .projectsLi.isSelected:hover .projectContainer a,body.ultra-mode.home-page:not(.intro):not(.outro) .projects.isHovering li:hover a,body.ultra-mode.home-page:not(.outro) .projects li.isSelected:hover a,body.ultra-mode.home-page:not(.outro) .projects li.isSelected a{
        color:transparent;
        -webkit-text-stroke:3px #151515;
        text-stroke:3px #151515
    }
}
.basicScroll .container{
    position:relative;
    width:100%;
    transform:translateZ(0)
}
.basicScroll .content{
    position:fixed;
    top:0;
    left:0;
    width:100%
}
.module-copy-image{
    position:relative;
    padding:10vh 30px 0;
    margin-left:auto;
    margin-right:auto;
    width:100%;
    max-width:1500px
}
.module-copy-image:after,.module-copy-image:before{
    content:" ";
    display:table
}
.module-copy-image:after{
    display:block;
    clear:both;
    height:1px;
    margin-top:-1px;
    visibility:hidden
}
@keyframes c{
    0%{
        opacity:1;
        transform:translateY(0) scale(1)
    }
    to{
        opacity:0;
        transform:translateY(0) scale(.9)
    }
}
@media screen and (max-width:767px){
    body.loading .module-copy-image .image.reveal-show img{
        animation:d 1s cubic-bezier(.215,.61,.355,1) forwards
    }
    @keyframes d{
        0%{
            opacity:.25;
            transform:translateY(0)
        }
        to{
            opacity:0;
            transform:translateY(-50px)
        }
    }
}
div.end-post,div.next-post,p.end-post{
    padding-top:3px;
    font-size:14px;
    line-height:2em
}
div.end-post a,div.next-post a,p.end-post a{
    display:block;
    padding-right:10px;
    font-family:Druk Wide Web;
    font-weight:500;
    font-style:normal;
    font-stretch:normal;
    font-size:30px;
    line-height:1em;
    text-decoration:none;
    color:#000
}
div.end-post a span,div.next-post a span,p.end-post a span{
    display:inline-block;
    transform:translateX(0);
    transition:transform .15s cubic-bezier(.455,.03,.515,.955)
}
div.end-post a:hover span,div.next-post a:hover span,p.end-post a:hover span{
    transform:translateX(5px)
}
@media screen and (max-width:1024px){
    .next-post{
        display:none
    }
}
div .theme-reduce-top-padding,section .theme-reduce-top-padding{
    padding-top:5vh
}
.reveal.module-copy .col-1,.reveal.module-copy .col-2{
    opacity:0;
    transform:translateY(100px);
    transition:opacity 1s cubic-bezier(.25,.46,.45,.94),transform 1s cubic-bezier(.25,.46,.45,.94)
}
.reveal.module-copy .col-2{
    transition-delay:.2s
}
.reveal.module-code .media,.reveal.module-image .media,.reveal.module-video .media{
    opacity:0;
    transition:opacity .5s cubic-bezier(.25,.46,.45,.94)
}
.reveal.module-code .info,.reveal.module-image .info,.reveal.module-video .info{
    perspective:250px;
    perspective-origin:0 0
}
.reveal.module-code .description,.reveal.module-code .title,.reveal.module-image .description,.reveal.module-image .title,.reveal.module-video .description,.reveal.module-video .title{
    opacity:0;
    transform:rotateY(35deg) translateZ(0);
    transform-origin:left center;
    transition:opacity .5s cubic-bezier(.25,.46,.45,.94) .25s,transform .5s .25s
}
.reveal.module-code .description,.reveal.module-image .description,.reveal.module-video .description{
    transition-delay:.35s
}
.reveal.module-gallery .media{
    opacity:0;
    transition:opacity .5s cubic-bezier(.25,.46,.45,.94)
}
.reveal.module-gallery .info{
    perspective:250px;
    perspective-origin:0 0
}
.reveal.module-gallery .description,.reveal.module-gallery .pagination,.reveal.module-gallery .title{
    opacity:0;
    transform:rotateY(35deg) translateZ(0);
    transform-origin:left center;
    transition:opacity .5s cubic-bezier(.25,.46,.45,.94) .25s,transform .5s .25s
}
.reveal.module-gallery .title{
    transition-delay:.35s
}
.reveal.module-gallery .description{
    transition-delay:.45s
}
.reveal.module-quote{
    perspective:100vw;
    perspective-origin:0
}
.reveal.module-quote blockquote{
    opacity:0;
    transform:rotateY(25deg) translateZ(0);
    transform-origin:left top;
    transition:opacity .75s cubic-bezier(.25,.46,.45,.94),transform .75s cubic-bezier(.25,.46,.45,.94)
}
.reveal.module-quote .attribution{
    display:block;
    opacity:0;
    transform:rotateY(35deg) translateZ(0);
    transform-origin:left top;
    transition:opacity .5s cubic-bezier(.25,.46,.45,.94) .25s,transform .5s cubic-bezier(.25,.46,.45,.94) .25s
}
.ui{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -ms-flex-align:end;
    align-items:flex-end;
    position:fixed;
    bottom:0;
    left:0;
    z-index:2;
    width:100%
}
.ui .logo .slideUp{
    padding-bottom:2px
}
.ui ul{
    margin:0;
    padding-left:0;
    list-style:none
}
.ui li{
    margin-bottom:5px
}
.ui li span{
    margin-right:15px;
    font-size:10px
}
.ui a{
    text-decoration:none
}
.ui a,.ui button.link{
    color:#000
}
.ui .contact,.ui .info,.ui .left,.ui .right,.ui .social{
    display:-ms-flexbox;
    display:flex
}
.ui .left{
    width:70%
}
.ui .left,.ui .right{
    -ms-flex-align:end;
    align-items:flex-end
}
.ui .right{
    position:relative;
    width:30%;
    max-width:250px;
    -ms-flex-pack:justify;
    justify-content:space-between
}
.ui .copyright{
    position:absolute;
    bottom:22px;
    left:60px;
    width:50%;
    font-size:10px;
    color:#000;
    opacity:.25;
    transition:opacity .5s
}
@media screen and (max-height:550px) and (min-width:1025px){
    .ui .copyright{
        display:none
    }
}
@media screen and (min-width:1025px){
    .ui .copyright{
        opacity:0;
        transition:.5s
    }
}
@media screen and (min-width:768px){
    .ui .copyright{
        bottom:10px
    }
}
@media screen and (max-width:767px){
    .ui .copyright{
        width:calc(95% - 50px);
        font-size:12px
    }
}
body.home-page .ui .copyright{
    color:#fff;
    opacity:.5
}
@media screen and (min-width:1025px){
    body.home-page .ui .copyright{
        opacity:0
    }
}
@media screen and (min-width:1025px){
    body.uiHover:not(.aboutShow) .ui .copyright{
        opacity:.5;
        transition-delay:.5s
    }
}
.ui .info{
    -ms-flex-pack:justify;
    justify-content:space-between;
    -ms-flex-align:end;
    align-items:flex-end;
    width:100vw;
    padding:2.5vh 60px 5vh;
    transition:opacity .2s ease-in-out
}
.ui .info a,.ui .info button.link{
    display:inline-block;
    position:relative;
    transform:rotateY(0deg) translateZ(0);
    transform-origin:left center;
    transition:all .25s cubic-bezier(.175,.885,.32,1.275)
}
.ui .info li{
    perspective:250px;
    perspective-origin:0
}
.ui .info li:hover a,.ui .info li:hover button.link{
    transform:rotateY(15deg) translateZ(0)
}
.ui .info .contact li{
    perspective:400px
}
.ui .info .contact .email{
    display:inline-block
}
.ui .info .contact,.ui .info .right{
    transition:opacity .2s ease-in-out
}
.ui .links ul{
    transition:transform .5s cubic-bezier(.86,0,.07,1) .25s
}
.ui .links .about-li:after,.ui .links .journal-li:after{
    content:"";
    pointer-events:none;
    position:absolute;
    top:50%;
    left:calc(100% + 15px);
    transform:translateY(-50%);
    width:40px;
    height:2px;
    border-radius:1px;
    background-color:#000;
    transform-origin:left center;
    transform:scaleX(0) translateZ(0);
    transition:transform .25s cubic-bezier(.895,.03,.685,.22) 0s
}
.ui .credit-link{
    perspective:250px;
    perspective-origin:0
}
.ui .credit-link a{
    transform-origin:left center;
    margin-right:12px
}
.ui .credit-link:hover a{
    transform:rotateY(15deg) translateZ(0)
}
.ui .contact ul{
    margin-right:3vw
}
.ui .credits,.ui .social{
    width:50%
}
.ui .credits{
    text-align:right
}
.ui .credits div:not(:last-of-type){
    margin-bottom:5px
}
.ui .color-mode{
    pointer-events:none;
    position:absolute;
    top:12px;
    right:-55px;
    opacity:0;
    transition:opacity .5s
}
.ui .color-mode:focus .circle,.ui .color-mode:hover .circle{
    opacity:1;
    transform:rotate(15deg) scale(1)
}
@media screen and (max-width:1355px){
    .ui .color-mode{
        top:auto;
        position:fixed;
        bottom:6px;
        right:6px
    }
}
.ui .color-mode .circle{
    width:40px;
    height:40px;
    margin:0 auto;
    border-radius:50%;
    border-top:4px solid #f2f2f2;
    border-right:4px solid #000;
    border-bottom:4px solid #000;
    border-left:4px solid #f2f2f2;
    box-shadow:inset 0 5px 5px 0 rgba(0,0,0,.25),0 5px 5px 0 rgba(0,0,0,.25);
    opacity:0;
    transform:rotate(-180deg) scale(0);
    transition:opacity .5s cubic-bezier(.215,.61,.355,1),transform .5s cubic-bezier(.215,.61,.355,1)
}
.ui .color-mode .circle:after,.ui .color-mode .circle:before{
    content:"";
    position:absolute;
    top:-4px;
    right:-4px;
    width:calc(100% + 8px);
    height:calc(100% + 8px);
    border-radius:50%
}
.ui .color-mode .circle:before{
    border:4px solid transparent;
    border-top:4px solid #4801ff;
    transform:rotate(60deg)
}
.ui .color-mode .circle:after{
    border:4px solid transparent;
    border-top:4px solid #4801ff;
    transform:rotate(30deg)
}
.ui .color-mode .dot{
    pointer-events:none;
    position:absolute;
    top:50%;
    right:calc(50% - 4px);
    transform:translate3d(-50%,-50%,0);
    width:4px;
    height:4px;
    background-color:#f2f2f2;
    border-radius:50%;
    transition:background-color .25s
}
.ui .color-mode.night .dot{
    transform:translate3d(-50%,-50%,0);
    background-color:#000
}
.ui .color-mode.light .dot{
    transform:translate3d(-50%,-50%,0);
    background-color:#f2f2f2
}
.ui .color-mode.ultra .dot{
    transform:translate3d(-50%,-50%,0);
    background-color:#4801ff
}
.ui .color-mode button{
    cursor:pointer;
    position:absolute;
    z-index:1;
    border:0;
    background-color:transparent;
    outline:0
}
.ui .color-mode button.night-mode{
    bottom:0;
    left:0;
    width:100%;
    height:10px
}
.ui .color-mode button.light-mode{
    top:0;
    left:0;
    width:50%;
    height:calc(100% - 10px)
}
.ui .color-mode button.ultra-mode{
    top:0;
    right:0;
    width:50%;
    height:calc(100% - 10px)
}
body.uiHover .ui .color-mode{
    transition-delay:.5s
}
body.mobileNavOpen .ui .color-mode,body.uiHover .ui .color-mode{
    opacity:1;
    pointer-events:auto
}
.mobile-nav{
    display:none;
    border:0;
    margin:0 -11px 0 0;
    padding:0;
    overflow:visible;
    background-color:transparent;
    text-transform:none;
    border:1px solid #000;
    border-radius:50%;
    outline:none;
    cursor:pointer
}
.mobile-nav-box{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-pack:center;
    justify-content:center;
    -ms-flex-align:center;
    align-items:center;
    width:50px;
    height:50px;
    position:relative
}
.mobile-nav-inner{
    display:block
}
.mobile-nav-inner,.mobile-nav-inner:after,.mobile-nav-inner:before{
    position:absolute;
    width:25px;
    height:2px;
    border-radius:1px;
    background-color:#000;
    transition:background-color .15s ease-in-out,transform .15s ease-in-out
}
.mobile-nav-inner{
    position:relative
}
.mobile-nav-inner:after,.mobile-nav-inner:before{
    content:"";
    display:block
}
.mobile-nav-inner:before{
    top:-7px
}
.mobile-nav-inner:after{
    bottom:-7px
}
.mobileNavOpen .mobile-nav-inner:before{
    transform:translate3d(-7px,2px,0) rotate(-45deg) scaleX(.6)
}
.mobileNavOpen .mobile-nav-inner:after{
    transform:translate3d(-7px,-2px,0) rotate(45deg) scaleX(.6)
}
@media screen and (width:1024px){
    .ui .info{
        opacity:1
    }
}
@media screen and (width:768px){
    .ui .info{
        opacity:1
    }
}
@media screen and (min-width:768px){
    body.navTop .logo{
        transform:translate3d(0,calc(-87.5vh + 171px),0);
        transition-delay:0s
    }
    body.navTop .ui .info{
        opacity:1
    }
    body.navTop .ui .links ul{
        transform:translate3d(0,calc(-90vh + 104px),0);
        transition-delay:0s
    }
    body.navTop .ui .links li{
        position:relative
    }
    body.journal-post-page .ui .info .contact,body.journal-post-page .ui .info .copyright,body.journal-post-page .ui .info .right{
        pointer-events:none;
        opacity:0
    }
    body.journal-post-page.uiHover .ui .info .copyright{
        opacity:.5
    }
    @supports (-webkit-text-stroke:1px #000) or (text-stroke:1px #000){
        .ui .logo:hover{
            color:transparent
        }
    }
    .ui li:last-of-type{
        margin-bottom:0
    }
}
@media screen and (width:812px) and (height:375px){
    .ui .logo{
        position:relative;
        bottom:auto;
        top:0;
        left:0;
        font-size:18px
    }
}
@media screen and (min-width:420px) and (max-width:767px){
    .ui .contact ul:first-of-type{
        margin-bottom:20px
    }
}
@media screen and (max-height:414px){
    .credits{
        margin-bottom:5px
    }
}
@media screen and (max-width:420px){
    .ui .info{
        padding:15vh 30px 10vh
    }
    .ui .contact,.ui .left,.ui .right{
        -ms-flex-wrap:wrap;
        flex-wrap:wrap;
        -ms-flex-align:end;
        align-items:flex-end;
        width:100%
    }
    .ui .right{
        max-width:100%
    }
    .ui .links{
        width:50%
    }
    .ui .contact ul,.ui .social ul{
        width:100%
    }
    .ui .contact ul{
        margin-right:0;
        margin-bottom:5vw
    }
    .ui .credits,.ui .social{
        width:50%
    }
    .ui .credit-link{
        margin-bottom:0
    }
    .ui .info .links a,.ui .info .links button.link,.ui .info .social a{
        display:block;
        padding-top:5vw
    }
    .ui .info .social li:last-of-type{
        margin-bottom:0
    }
}
.fadeIn{
    opacity:0;
    animation:g .4s forwards
}
@keyframes g{
    0%{
        opacity:0
    }
    to{
        opacity:1
    }
}
.slideUp{
    display:block;
    position:relative;
    width:100%;
    overflow:hidden
}
.slideUp span{
    display:block;
    transform:translateY(120%);
    animation:h 1s forwards
}
.slideUp:nth-child(2) span{
    animation-delay:.2s
}
.slideUp:nth-child(3) span{
    animation-delay:.35s
}
body.home-page .slideUp span{
    animation-delay:2s
}
body.home-page .slideUp:nth-child(2) span{
    animation-delay:2.2s
}
body.home-page .slideUp:nth-child(3) span{
    animation-delay:2.35s
}
@keyframes h{
    0%{
        transform:translateY(120%)
    }
    to{
        transform:translateY(0)
    }
}
.ui .contact ul,.ui .credits,.ui .links,.ui .social{
    opacity:0;
    transform:translateY(-101%);
    animation:i 1s .4s forwards
}
.ui .contact ul:nth-child(2){
    animation-delay:.6s;
    animation-delay:.8s
}
.ui .social{
    animation-delay:1s
}
.ui .credits{
    animation-delay:1.2s
}
@keyframes i{
    0%{
        opacity:0;
        transform:translateY(50%)
    }
    to{
        opacity:1;
        transform:translateY(0)
    }
}
.home-page .ui .contact ul,.home-page .ui .credits,.home-page .ui .links,.home-page .ui .social{
    animation-delay:2.4s
}
.home-page .ui .contact ul:nth-child(2){
    animation-delay:2.6s
}
.home-page .ui .links{
    animation-delay:2.8s
}
.home-page .ui .social{
    animation-delay:3s
}
.home-page .ui .credits{
    animation-delay:3.2s
}
body:not(.home-page):not(.journal-page):not(.aboutShow).loading .basicScroll .btn-page-back{
    transform:translateX(calc(5vw + 60px))
}
body:not(.home-page):not(.journal-page):not(.aboutShow) .basicScroll .btn-page-back{
    z-index:9999;
    transform:translateX(0)
}
@media screen and (min-width:768px){
    @supports (-webkit-text-stroke:1px #000) or (text-stroke:1px #000){
        body:not(.home-page) .ui.outline .logo{
            color:transparent;
            opacity:.25
        }
        body:not(.home-page) .ui.outline .logo:hover{
            color:#000;
            opacity:1
        }
    }
    body:not(.home-page) .ui.outline .info{
        opacity:0;
        pointer-events:none
    }
    body:not(.home-page).journal-post-page .ui.bottom .info .contact,body:not(.home-page).journal-post-page .ui.bottom .info .right{
        pointer-events:auto;
        opacity:1
    }
}
.home-page .stagePerspective{
    position:relative;
    width:100%;
    perspective:100vw
}
.home-page:not(.isMobile) .stagePerspective{
    height:100vh;
    overflow-x:hidden;
    overflow-y:auto
}
.home-page .stageContainer{
    position:relative;
    width:100%;
    transform:translateZ(0);
    transform-style:preserve-3d
}
.home-page .stage{
    position:fixed;
    top:0;
    left:0;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-align:center;
    align-items:center;
    -ms-flex-pack:end;
    justify-content:flex-end;
    width:100%;
    padding:5vw 5vw calc(7.5vw + 67px) 0;
    transform-style:preserve-3d;
    opacity:1;
    transition:opacity 1s
}
.home-page .projects{
    position:relative;
    margin:0;
    padding-left:0;
    list-style:none;
    text-align:right;
    width:95%;
    transform-style:preserve-3d
}
.home-page .projectsLi{
    cursor:pointer;
    transform-style:preserve-3d
}
.home-page .projectContainer{
    transform:rotateY(-45deg) translateZ(0) scale(1);
    transform-origin:right center;
    transform-style:preserve-3d;
    will-change:transform
}
@media screen and (min-width:768px){
    .home-page .projectContainer{
        transition:transform 1.5s cubic-bezier(.075,.82,.165,1)
    }
}
.home-page:not(.intro) .projectsLi.isHovered .projectContainer,.home-page:not(.intro) .projectsLi:hover .projectContainer{
    transform:rotateY(-35deg) translateZ(0) scale(1);
    transition-duration:1s
}
.home-page .projectsLi.isSelected .projectContainer,.home-page .projectsLi.isSelected:hover .projectContainer{
    transform:rotateY(0deg) translateZ(0) scale(1)
}
@media screen and (max-width:767px){
    .home-page .projectsLi.isSelected .projectContainer,.home-page .projectsLi.isSelected:hover .projectContainer{
        transition:transform 1.5s cubic-bezier(.075,.82,.165,1),opacity 1.5s cubic-bezier(.075,.82,.165,1)
    }
}
@supports (-webkit-text-stroke:3px #151515) or (text-stroke:3px #151515){
    .home-page .projectsLi.isSelected .projectContainer a,.home-page .projectsLi.isSelected:hover .projectContainer a{
        -webkit-text-stroke:0 #151515;
        text-stroke:0 #151515
    }
}
.home-page:not(.intro) .projects.isHovering .projectsLi.isHovered a,.home-page:not(.intro) .projects.isHovering .projectsLi:hover a{
    transition-duration:.3s
}
@supports (-webkit-text-stroke:3px #151515) or (text-stroke:3px #151515){
    .home-page:not(.intro) .projects.isHovering .projectsLi.isHovered a,.home-page:not(.intro) .projects.isHovering .projectsLi:hover a{
        color:transparent
    }
}
.home-page .projects a{
    position:relative;
    color:#000;
    text-decoration:none;
    text-transform:uppercase;
    font-family:Druk Wide Web;
    font-weight:900;
    font-style:normal;
    font-stretch:normal;
    font-size:9.6vw;
    letter-spacing:.02em;
    line-height:.9em;
    transition:color .5s,opacity .5s
}
@supports (-webkit-text-stroke:3px #000) or (text-stroke:3px #000){
    .home-page .projects a{
        -webkit-text-stroke:3px #000;
        text-stroke:3px #000
    }
}
.home-page .projects a:before{
    content:attr(data-info);
    white-space:pre;
    position:absolute;
    top:3.7em;
    left:-250px;
    width:200px;
    text-align:right;
    font-size:.7vw;
    font-weight:500;
    letter-spacing:0;
    line-height:1em;
    color:#000!important;
    pointer-events:none;
    transition:none
}
@supports (-webkit-text-stroke:3px #000) or (text-stroke:3px #000){
    .home-page .projects a:before{
        -webkit-text-stroke:transparent;
        text-stroke:transparent
    }
}
.home-page .projects a:after{
    content:"";
    position:absolute;
    top:.23em;
    left:-.3em;
    width:2px;
    height:.85em;
    background-color:#000;
    transform:rotate(25deg);
    pointer-events:none
}

/*intro*/
.home-page:not(.isMobile).intro{
    pointer-events:none
}
.home-page.intro .stage{
    transform:translate3d(0,-110%,0);
    animation:j 2s forwards
}
.home-page:not(.isMobile).intro .stage{
    position:absolute
}
.home-page.intro .projectContainer{
    visibility:hidden;
    transition:none;
    animation:k 2s forwards
}
.home-page.intro .projectsLi:first-child .projectContainer{
    animation-delay:.9s
}
.home-page.intro .projectsLi:nth-child(2) .projectContainer{
    animation-delay:.8s
}
.home-page.intro .projectsLi:nth-child(3) .projectContainer{
    animation-delay:.7s
}
.home-page.intro .projectsLi:nth-child(4) .projectContainer{
    animation-delay:.6s
}
.home-page.intro .projectsLi:nth-child(5) .projectContainer{
    animation-delay:.5s
}
.home-page.intro .projectsLi:nth-child(6) .projectContainer{
    animation-delay:.4s
}
.home-page.intro .projectsLi:nth-child(7) .projectContainer{
    animation-delay:.3s
}
.home-page.intro .projectsLi:nth-child(8) .projectContainer{
    animation-delay:.2s
}
/*上下*/
@keyframes j{
    0%{
        transform:translate3d(0,-110%,0)
    }
    to{
        transform:translateZ(0)
    }
}
/*轉向*/
@keyframes k{
    0%{
        visibility:visible;
        opacity:0;
        transform:rotateY(-100deg) translateZ(0) scale(1)
    }
    to{
        visibility:visible;
        opacity:1;
        transform:rotateY(-45deg) translateZ(0) scale(1)
    }
}